!!!
%html
  %head
    %title My MBTA Schedule
    %link{rel: "stylesheet", href: "styles.css"}/
    %script{src: 'https://cdn.jsdelivr.net/npm/cash-dom@3.0.0/dist/cash.min.js'}
    %script{src: 'https://unpkg.com/axios/dist/axios.min.js'}
    %script{src: 'https://underscorejs.org/underscore-min.js'}
    %script{src: 'index.js'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    %link{rel: 'apple-touch-icon', sizes: '120x120', href: 'touch-icon-120.png'}
    %link{rel: 'apple-touch-icon', sizes: '152x152', href: 'touch-icon-152.png'}
    %link{rel: 'apple-touch-icon', sizes: '167x167', href: 'touch-icon-167.png'}
    %link{rel: 'apple-touch-icon', sizes: '180x180', href: 'touch-icon-180.png'}
    %script
      = "window.data = {}"
      = "window.data.bluebikes_station_ids = #{JSON.generate(bluebikes_stations.values)}"
      = "window.data.mbta_route_ids = #{JSON.generate(mbta_routes.values)}"
  %body
    %h1 My Transit Dashboard
    %table#content
      - bluebikes_stations.each do |name, station_id|
        %tr
          %td.name= name
          %td.value
            %span{id: "bluebikes_#{station_id}_bikes"} ...
            bikes
            %span{id: "bluebikes_#{station_id}_docks"} ...
            docks
      - mbta_routes.each do |name, ids|
        %tr
          %td.name= name
          %td.value
            %span{id: "mbta_#{ids[0]}_#{ids[1]}_predictions"} ...
